<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wei.oauth2.mapper.MenuMapper">

    <select id="searchAllByUserId" resultType="top.wei.oauth2.model.entity.Menu">
        SELECT DISTINCT m.*
        FROM t_user_role_relation urr
                 JOIN t_role_menu_relation rmr ON urr.role_id = rmr.role_id
                 JOIN t_menu m ON rmr.menu_id = m.menu_id
        WHERE urr.user_id = #{userId}
          AND m.deleted = 0
          AND m.visible = 1
        ORDER BY m.sort_order ASC, m.created_at ASC;
    </select>
</mapper>
